<web-app>

    <servlet>
        <servlet-name>attendance</servlet-name>
        <servlet-class>attendanceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>attendance</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>

</web-app>